# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar logs
logs/
*.log

# Ignorar las dependencias nativas
*.node

# Ignorar la carpeta de cobertura
coverage/

# Ignorar los archivos de configuración del sistema operativo
.DS_Store

# Ignorar la carpeta de salida de compilación
dist/
build/

# Ignorar archivos específicos del editor
.vscode/
.idea/
*.swp
